<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<table board="1">
    <tr>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>나이</th>
        <th>전화번호</th>
        <th>상세조회</th>
        <th>조회ajax</th>
        <th>삭제</th>
        <th>삭제ajax</th>
        <th>수정</th>
    </tr>
    <tr th:each="member : ${memberList}">
        <td><a th:href="@{|/member/${member.id}|}">[[${member.memberEmail}]]</a></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberAge}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td><a th:href="@{|/member/${member.id}|}">조회</a></td>
        <td>
            <button th:onclick="detail([[${member.id}]])">조회(ajax)</button>
        </td>
        <td><a th:href="@{|/member/delete/${member.id}|}">삭제</a></td>
        <td>
            <button th:onclick="deleteById([[${member.id}]])">삭제(ajax)</button>
        </td>
        <td><a th:href="@{|/member/update/${member.id}|}">수정</a></td>

    </tr>
</table>

<div id="member-detail">

</div>
</body>
<script th:inline="javascript">
    const detail = (id) => {
        const memberDetail = document.getElementById("member-detail");

        $.ajax({
            type: "post",
            url: "/member/ajax/" + id,
            dataType: "json",
            success: function (result) {
                let content =
                    "<table>"+
                    "<tr>" +
                    "<th>이메일</th>" +
                    "<th>비밀번호</th>" +
                    "<th>이름</th>" +
                    "<th>나이</th>" +
                    "<th>전화번호</th>" +
                    "</tr>" +
                    "<tr>" +
                    "<td>" + result.memberEmail + "</td>" +
                    "<td>" + result.memberPassword + "</td>" +
                    "<td>" + result.memberName + "</td>" +
                    "<td>" + result.memberAge + "</td>" +
                    "<td>" + result.memberPhone + "</td>" +
                    "</tr>" +
                    "</table>"
                memberDetail.innerHTML = content;
            }, error: function () {
                alert("오타 체크");
            }
        })
    };

    const deleteById = (id) => {
      $.ajax({
          type: "delete",
          url: "/member/"+id,
          // dataType: "text",
          success:function (){ //status code = 200
                  location.href ="/member/";
          }, error:function (){
              alert("ajax 실패");
          }
      });
    }
</script>
</html>