<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<table board="1">
    <tr>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>나이</th>
        <th>전화번호</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="member : ${memberList}">
        <td><a th:href="@{|/member/${member.id}|}">[[${member.memberEmail}]]</a></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberAge}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td><a th:href="@{|/member/${member.id}|}">조회</a></td>
        <td><a th:href="@{|/member/delete/${member.id}|}">삭제</a></td>
    </tr>
</table>

</html>